body {
    font-family:'Times New Roman', Times, serif;
    margin-right: 100px;
    margin-left:100px;
    margin-top: 50px;
    margin-bottom: 100px
}

label {
    color:mediumvioletred;
    width: 200px;
    display: inline-block;
}